.subject-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actions-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flashcard-btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-text {
  margin-left: 10px;
}

.subject-name {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .subject-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .actions-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
  }
}
