.subject-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actions-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flashcard-btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-text {
  margin-left: 10px;
}

.subject-name {
  margin-bottom: 20px;
}

.flash-card-toggle-btn {
  background: #467599;
  color: #E9FFF9;
  height: 60px;
  width: 230px;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  align-self: center;
  border: 1px solid #1D3354;
  margin-left: 15px;
}

.back-btn {
  background: #E9FFF9;
  text-decoration: none;
  color: #1D3354;
  height: 40px;
  width: 100px;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  align-self: center;
  border: 1px solid #1D3354;
}

.back-btn-container {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .subject-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .actions-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
  }
  .add-index-card-modal {
    margin-bottom: 1rem;
  }

  .flash-card-toggle-btn {
    margin-top: 0.5rem;
  }
}
