.back-arrow {
  font-size: 1.2rem;
}

.status-label {
  font-weight: bold;
  font-size: .9rem;
}

.index-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}