.index-card-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.last-card-btn,
.next-card-btn {
  font-size: 2.5rem;
}

.back-arrow {
  font-size: 1.2rem;
}

.status-label {
  font-weight: bold;
  font-size: .9rem;
}

.index-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}