.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.test-box {
  border: 1px solid green;
  width: 100%;
  height: 200px;
}

.test-box:hover {
  cursor: pointer;
}

.flipped {
  background-color: green;
}

.home-page-filter {
  height: 2rem;
  margin-bottom: 1.3rem;
}

@media screen and (max-width: 800px) {
  .controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .add-modal-container {
    display: flex;
    flex-direction: column;
  }
}