.subject-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: auto;
  margin-right: 3%;
  justify-content: space-between;
  align-items: center;
  border: 1.5px dotted rgb(131, 204, 229);
  padding: 10px;
  margin-top: 10px;
}

.card-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

.card-icon {
  margin-left: 5px;
  margin-right: 7px;
}

.card-count {
  margin-right: 15px;
}

.delete-subject-button {
  width: auto
}

.delete-subject-dropdown {
  align-self: center;
}