.badge {
  margin-left: 7px;
  font-size: .9rem;
  padding: 10px;
}

.in-the-bag {
  background-color: rgb(2, 127, 2);
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
}

.no-clue {
  background-color: red;
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
}

.somewhat-get {
  background-color: orange;
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
}