.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #E9FFF9;
}

.app-header {
  margin-right: 15px;
  background: #E9FFF9;
}

.main-nav {
  width: 100%;
  background: #E9FFF9;
}

.app-navbar {
  background: #E9FFF9;
  width: 100%;
}

.pencil-logo {
  margin-right: 15px;
  color: #1D3354;
}

@media screen and (max-width: 600px) {
  .app-header {
    margin-right: 15px;
    margin-left: 15px;
  }
}